* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', 'SolaimanLipi';
}

.entry-form .form-control {
    padding: 0px 10px;
    font-size: 0.8rem;
    line-height: 1px;
    height: calc(1.5em + 0.4rem + 0px);

}

.col-form-label {
    line-height: normal;
    font-size: 0.8rem;

}

.entry-form .form-group {
    margin-bottom: 2px;
}

.do-btn {
    margin-top: 10px;
    margin-left: 68px;
    cursor: pointer;
    font-size: 14px;

}


.do-btn-ban {
    margin-top: 10px;
    margin-left: 124px;
    cursor: pointer;
}

.do-btn-ban input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 4px;
}

body {

    background:
}

.cust-form-bg {
    background: #cdf6e8;
}

.entry-form .custom-select {
    font-size: 12px;
    padding: 0.2rem 1.75rem .375rem .75rem;
    height: calc(1.5em + .42rem + 2px);
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f1f3f6 !important;
    opacity: 1;
}

.entry-form .col-form-label {
    padding-top: 0px !important;
}

.custom-nav-bg {
    background-color: #8cc63f;
}

.nav-item a.nav-link {
    color: #fff;
}


/* .cust-width{
    width: 98%;
} */
/* login page css start */

.login-header {
    background: #8cc63f;

}


.jubo-logo {
    padding: 41px 0px;
}

.jubo-logo img {
    width: 100%;
}

.header-content {
    padding: 28px 0px;
    color: #fff;
    /* text-align: center; */
}

.header-content h3 {
    padding: 10px 0px;
}

.header-content p {
    margin-bottom: 0px !important;
}

h3.header-title {
    font-size: 20px;
    padding-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Robot', 'SolaimanLipi';
    font-weight: bold;
}

p.youth-dept {
    font-size: 16px;
}

.left-content {
    margin-top: 40px;
    border-right: 2px solid #8cc63f;
    min-height: 272px;
    /* background-image:url(../img/jubo-big-logo.png); */

    background-repeat: no-repeat;
}

.login-section {
    background: #fff;
}

.log-form {
    font-family: 'Robot', 'SolaimanLipi';
    padding-top: 40px;
}

.log-form h3.log-header {
    font-size: 23px;
    font-weight: normal;
    color: #8cc63f;
    /* padding-bottom: 15px; */
    text-align: center;
}

.footer {
    background: #8cc63f;
    margin-top: 80px;
    /* margin-bottom: 50px; */
}

.language-btn {
    position: absolute;
    right: 0;
    top: 37px;

}

.cust-level {
    padding-top: 10px;
}

.cust-level .col-form-label {
    font-size: 16px;
    font-family: 'Robot', 'SolaimanLipi';
}

.cust-log-cont .form-control {
    padding: 12px;
}

.forget-pass a {
    color: #8cc63f;
}

.forget-pass a:hover {
    text-decoration: none;
    padding-bottom: 10px;

}

.forget-pass a:first-child {
    margin-right: 15px;
}

.footer-content {
    color: #fff;
}


.footer-content p {
    padding: 20px;
}

p.footer-details {
    margin-bottom: 0;
}

.divider,
.divider-two,
.divider-three {
    position: relative;
    border: 1px solid #fff;
}

.divider,
.divider-two {
    top: -9px;
}

.divider-four {
    border: 1px solid #fff;
    position: relative;
    left: 152px;
    width: 88.3%;
    top: -12px;
}

.section-4 {
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

.navbar-brand img {
    width: 80%;
}

.form-control:focus {
    /* border: none !important; */
    border-color: #662d91;
    box-shadow: none;
}

.cust-nav-small .nav-item a.nav-link {
    font-size: 12px;
}

.custom-select:focus {
    /* border: none; */
    box-shadow: none;
    border-color: #662d91;
}

.do-btn input[type="checkbox"] {
    margin-right: 10px;
}

.cust-file-type {

    padding: 2px;
    background: white;


    width: 100%;

    color: #495057;
    background-color: #fff;

    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 14px;



}

.mt-tweenty {
    margin-top: 26px;
}


/* .user-dropdown .dropdown-menu {

    position: absolute;
    right: 0px;
    top: 38px;
} */
.log-back {

    text-align: center;
}

.log-back a {
    color: #662d91;
    text-align: center;
}

.log-back a:hover {
    text-decoration: none;
}

.lg-bx-shdw {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.forget-min {
    min-height: 560px;
}

h4.margin-t-fifteen {
    margin: 15px 0px;
}

.attch-crt {
    padding-top: 35px;
    padding-bottom: 35px;
    min-height: 500px;
}

.section-profile-data {
    margin: 20px 0px;
}

.section-profile-img {
    /* margin: 20px 0px; */
}

.section-profile-img img {
    height: 150px;
    width: 150px;
    float: right;
    margin: 20px 0px;
}

.data-section p.user-desig {
    text-align: end;
}

.data-section {}

.repo-filt-min {
    min-height: 500px;
}

.pdf-btn button {
    background: #fff;
}

.copyright-right-text {
    text-align: right;
}

@media(max-width:320px) {
    .divider {
        width: 62.8%;
        right: 0 !important;
        left: 100px;
    }

    .divider-two {
        width: 34.8%;
        right: 0 !important;

        left: 186px;
    }

    .divider-three {
        width: 61.8%;
        margin: 5px;
        left: 60px;
        position: relative;
    }

}



@media(min-width:768px) {
    .col-form-label {
        text-align: right;
    }

}



@media(min-width:321px) and (max-width:400px) {

    .divider {
        width: 70.8%;
        right: 0 !important;

        left: 100px;
    }

    .divider-two {
        width: 48.8%;
        right: 0 !important;

        left: 186px;
    }

    .divider-three {
        width: 91.8%;
        margin: 5px;
        left: 13px;

    }

}


@media(min-width:401px) and (max-width:575px) {

    .divider {
        width: 70.8%;
        right: 0 !important;

        left: 100px;
    }

    .divider-two {
        width: 48.8%;
        right: 0 !important;

        left: 186px;
    }

    .divider-three {
        width: 91.8%;
        margin: 5px;
        left: 13px;

    }

}


@media(min-width:576px) and (max-width:767px) {

    .divider {
        width: 70.8%;
        right: 0 !important;

        left: 100px;
    }

    .divider-two {
        width: 52.8%;
        right: 0 !important;

        left: 186px;
    }

    .divider-three {
        width: 72.8%;
        margin: 5px;
        left: 65px;
    }

}

@media(min-width:768px) and (max-width:991px) {

    .divider {
        width: 86.8%;
        right: 0 !important;

        left: 100px;
    }

    .divider-two {
        width: 76.8%;
        right: 0 !important;

        left: 186px;
    }

    .divider-three {
        width: 84.8%;
        margin: 5px;
        left: 106px;
    }

}

@media(min-width:992px) {
    .divider {
        width: 85.4%;
        right: 0 !important;
        left: 190px;
    }

    .divider-two {
        width: 81.8%;
        right: 0 !important;

        left: 233px;
    }

    .divider-three {
        width: 83.6%;

        left: 203px;
        margin: 6px 0px;
    }
}


/* ////////////////////////////////////////////////////////////////////// */
/* REGISTRATION CSS */
/* ////////////////////////////////////////////////////////////////////// */
.registration-bg {
    /* background: #17223b; */
    padding: 2rem;
}

.registration-form {
    width: 60%;
    margin: auto;
    /* background: coral; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.registration-title {
    padding: 20px;
    background: #3FC688;
    margin-bottom: 16px;
}

.registration-title h3 {
    color: white;
    margin-bottom: 0;
}

.registration-body {
    padding: 1rem;
    padding-top: 0;
}

.registration-form h3 {
    color: white;
    text-transform: uppercase;
}

.registration-form label {
    color: #626262;
}

.registration-form input,
.registration-form select {

    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #626262;

}

.form-control:focus {
    /* padding-left: 0; */
    background: white !important;
    border-color: none;
    outline: 0;
    box-shadow: none;
    /* border-bottom: 1px solid #8cc63f; */
}

.custom-select:focus {
    border-bottom: 1px solid #3FC688;
    /* padding-left: 0; */
}

.registration-form .custom-select {
    text-align: center;
    padding: 10px;
}

.registration-form .form-group {
    /* position: relative; */
}

.registration-form .fa-angle-down {
    /* position: absolute;
    bottom: 10px;
    right: 10px;
    color: #8cc63f;
    font-size: 13px; */
}

.registration-form .btn {
    border-radius: 0;
    background: #3FC688;
    margin-bottom: 1rem;
    border: none;
}

.registration-body small {
    color: red !important;
}

.registration-form h6.has-text-centered a {
    /* font-size: 14px; */
    text-align: center;
    color: #8cc63f;
    display: block;
}

/* ////////////////////////////////////////////////////////////////////// */
/* REGISTRATION CSS RESPONSIVE */
/* ////////////////////////////////////////////////////////////////////// */
@media (max-width: 425px) {
    .registration-bg {
        padding: 1rem;
    }

    .registration-form {
        width: 100%;
    }
}

/* ////////////////////////////////////////////////////////////////////// */
/* REGISTRATION CSS */
/* ////////////////////////////////////////////////////////////////////// */

/* Added by Shariful Islam */
.extensionStyle {
    font-size: small;
}

.nav-select {
    border-bottom: 3px solid #3FC688;
}

.custom-select {
    display: inline-block !important;
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background: none !important;
    vertical-align: middle !important;
    background-color: #fff !important;
    border-radius: 0.25rem !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.panel {
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #3FC688;
    background-color: aliceblue;
}

/* End */
