@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}


body {
    font-family: "solaimanlipi", 'Roboto';
    /* font-family: Roboto; */
}

@font-face {
    src: url(../fonts/SolaimanLipi/SolaimanLipi.ttf);
    font-family: "solaimanlipi"
}

a {
    text-decoration: none;
}

img {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style-type: none;
}

.profile-bg {
    background: #000;
    min-height: 500px;
    width: 100%;
    text-align: center;
}

.fluid-bg {
    background: #2ecc71;
}

.profile-content {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.profile-content img {

    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 10%;

}

.profile-description {
    /* position: absolute; */
}

h3.name {
    color: #fff;
    font-size: 23px;
    padding-top: 9px;
    margin: 0;
    font-weight: normal;
}

p.email {
    color: #fff;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: normal;

}

/* right part code start from here */
.profile-data-all {
    min-height: 300px;
    color: #fff;
    border-radius: 5px;
}

.profile-title {
    margin: 0px auto
}

.profile-data {
    border-bottom: 1px solid #fff;
}

.log-box-full {
    background: #ececec;
    /* min-height: 600px; */
}

.log-box {

    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin: 63px 0px;
}

.log-userbtn {
    background: #3FC688;
    color: #fff;
    text-align: center;
    width: 100%;
    /* margin-top: 8px; */
    padding: 8px;
    border-radius: 0;
    font-size: 15px;
}

.log-white {
    background: #fff;
    color: #3FC688;
}

.log-left {
    /* background: url(../../img/Youth+Development+Icon.png); */
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 500px; */
    width: 100%;
}

.other-wise {
    color: #8cc63f;
    margin: 0px 10px;
    font-size: 15px;
    text-transform: capitalize;
}

/* ////////////////////////////// */
/* login-box */
/* ////////////////////////////// */

.login-box {
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.log-box h4 {
    text-transform: uppercase;
    /* margin-bottom: 1rem; */
}

.login-box form {
    width: 80%;
    margin: auto;
}

.log-box input {
    padding: 0;
}

.login-box .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid gray;
    font-size: 15px;
    background: none;
}

.login-box .form-control:focus {
    /* border: none; */
    outline: 0;
    box-shadow: none;
}

.login-box .form-control::placeholder {
    font-size: 14px;
    color: #8cc63f;
    opacity: 0.5;
}

a.forget-pass {
    color: #3FC688;
    font-size: 13px;
}

a.forget-pass:hover {
    text-decoration: none;
}

.form-foot {
    /* background: #8cc63f; */
    /* color: #fff; */
    /* padding: 8px; */
    /* text-align: center; */
    display: inline;
}

a.register {
    color: #3FC688;
    text-align: center;
    font-size: 13px;
    margin: 0px 15px;
}

a.register:hover {
    text-decoration: none;
}

.log-btn {
    margin-bottom: 0;
}

.log-left {
    text-align: center;
}

.login-box .col-form-label {
    text-align: left;
    font-size: 15px;
    text-transform: capitalize;
}

.forget-inline {
    display: inline;
}

.log-userbtn:hover {
    color: #fff;
}

.log-min {
    min-height: 580px;
}

/* ////////////////////////////// */
/* login-box */
/* ////////////////////////////// */




.cust-log-cnt {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #3FC688;

}

.cust-log-cnt::placeholder {
    color: #8cc63f;
}

.cust-log-cnt:focus {
    border-color: #3FC688 !important;

    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.custm-check input[type="checkbox"] {
    margin-left: 23px;
}

.remember {
    color: #3FC688;
    font-weight: normal;
    font-size: 14px;
}

.log-form {
    margin: 30px;
}

h4.log-text {
    color: #3FC688;
    font-weight: 600;
    text-transform: capitalize;
    /* border-bottom: 1px solid #8cc63f; */
    /* font-size: 23px; */
    padding-bottom: 17px;
    margin-bottom: 0;
    text-align: center;
}

.purple-color {
    color: #3FC688;
}

.border-rt {
    border-right: 5px solid #3FC688;
}

.youth-pic {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.youth-pic img {
    margin: 14px;

}

.logicon-full {
    height: 50px;
    width: 50px;
    background: #3FC688;
    position: absolute;
    right: 13px;
    top: 0;
    /* / transform: rotate(50deg);/ */
}


.youth-full {
    height: 50px;
    width: 50px;
    background: #3FC688;
    position: absolute;
    left: 13px;
    bottom: 0;
    /* / transform: rotate(50deg);/ */
}

.green-bg {
    background: #3fc688;
    padding: 7px 0px;
}

p.text {
    margin-bottom: 0;
    font-size: 13px;
    /* padding: 2px 0px; */
}

.top-left-content {
    float: right;
}

.left-cont,
.lang-btn {
    float: left;
}

.cust-lang-btn {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 12px;
    border: 1px solid #fff;
    color: #fff;
}

.cust-lang-btn i {
    font-size: 11px;
    padding-left: 1px;
}


.left-cont {
    border-right: 1px solid #fff;
}



.no-border a.purple-nav-link {
    border: none !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #3FC688;
    /* font-size: 18px; */
}

.navbar-light .navbar-nav .nav-link i {
    font-size: 10px;
    padding-left: 0px;

}

.custom-small-pic img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    /* margin-top: 8px; */
    /* padding: 0px 5px; */
}

.custom-small-pic {
    /* border: 1px solid #8cc63f; */
    margin: 0px !important;
    /* padding: 0px 16px !important; */
}



.dropdown-toggle {
    margin-left: 1px !important;
}

.dropdown-item i {
    padding-right: 3px;
    font-size: 12px;
}

h3.bd {
    position: relative;
    top: -2px;
    font-size: 23px;
    color: #3FC688;
    margin-bottom: 0;
    left: 10px;
}

p.nav-data {

    color: #3FC688 !important;

}

p.dept {

    color: #3FC688 !important;

}

.cust-nav-small {
    /* padding: 0px !important */
}

.nav-first {
    display: inline-flex !important;
    font-size: 12px !;
    flex-direction: row !important;
}

.purple-bg {
    background: #3FC688;
}


.graph-box {
    min-height: 610px;
    /* background: #f9f9f9; */
    margin-top: 40px;
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.graph-box .highcharts-container {
    /* margin-top: 30px; */
}

.graph-section {
    background: #ececec;
    min-height: 620px;
}

.footer-bg {
    background: #3fc688;
    /* position: fixed; */
    /* width: 100%;
    bottom: 0 */
}

/* added  by shariful islam */
.footerFont {
    font-size: 14px;
}

/* end */

.map svg {
    /* max-height: 420px; */
    /* margin-bottom: 30px; */

}

.map svg {
    height: 490px !important;
    width: 550px;
    margin: 0 auto;
    display: block;
    overflow: initial;
}

#map_data_source {
    color: red !important;
}

.graph-box tspan {
    margin-top: 25px;
}

.copyright {
    padding: 9px 0px;
    font-size: 12px;
}

.image-link {
    padding: 2px 0px !important;
}

.user-name {
    font-size: 12px;
}



h3.manage {
    padding: 25px 0px;
    color: #3FC688;
    font-size: 23px;
}

.crt-user {
    padding: 25px 0px;
    text-align: right;
}

.crt-user-img img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.creat-usrbtn {
    /* padding-top: 10px; */
    color: #3FC688;
    border: 1px solid #3FC688;
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 10px;
}

.creat-usrbtn:focus {
    box-shadow: none;
}


.creat-usrbtn i {
    /* padding-left: 5px; */
    padding: 0px 3px;
}

.user-section {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3FC688;
    width: 100%;
    padding: 10px 1rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

}

h3.user-management {
    font-size: 20px;
    /* padding: 5px 10px; */
    margin-bottom: 0;
    margin-top: 5px;
}

.graph-section .card {
    margin-bottom: 40px;
    width: 100%;
    padding: 0;
    margin-top: -15px;
}

.table thead th.user-thead {
    color: #3FC688;
    text-transform: capitalize;
    padding-top: 7px !important;
    padding-bottom: 7px;
}

.table {}

.cust-user-tble td {
    padding: 7px !important;
    /* width: 25%; */
}

.cust-user-tble th {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    padding-left: 1rem;
}

.cust-usr-btn {
    padding: 2px 10px;
}

.cust-usr-btn:focus {
    box-shadow: none;
}

.cust-usr-btn i {
    font-size: 12px;
}

h5.confirm {

    color: #3FC688;

}

.conf-msg {
    color: #3FC688;
}

.usr-role {
    background: #3FC688;
    color: #fff;
    font-size: 15px;
    display: inline;
    margin-top: 7px;
    position: absolute;
    border-radius: 20px;
    padding: 1px 4px !important;
}

.btn:focus {
    box-shadow: none;
}

.form-section {

    margin-top: 0px;

}

h5.multi-role {
    margin-top: 5px;
    font-weight: normal;
    font-style: 19px;
}

.crt-btn {
    margin-bottom: 14px;
}

.crt-userbtn {
    background: #3FC688;
    color: #fff;
    text-align: center;
}

.crt-userbtn:hover {
    background: #8cc63f;
    color: #fff;
}

form {
    width: 100%;

}

.custom-select option {
    font-size: 14px;
}

.report-icn {

    color: #3FC688;
    border: 1px solid #3FC688;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0px 5px;
}

.report-icn:focus {
    box-shadow: none;
}

.download-icn-drp {
    float: right;
}

.download-icn-drp .dropdown-menu.animate {
    /* min-width: 100px !important;
    right: 0 !important; */
    /* display: none; */
}

.download-icn-drp .dropdown-item {
    font-size: 15px;
    border-bottom: 1px solid #f2f2f2;
}

.download-icn-drp [type=submit] {
    border: none;
    outline: none;
    background: #fff;
    color: #3FC688;
    font-size: 15px;
}

.report-table {
    margin-bottom: 0;
}

.report-table thead th {
    font-size: 14px;
    /* color: #662d91; */
    font-weight: bold;
    text-align: center;
}

.report-table td {
    font-size: 13px;
    text-align: center;
    color: #666666;
}

.user-manage-search {

    width: 100%;
}

.report-search {}

.report-search .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid;
    /* width: 50%; */
    /* text-align: center; */
}

.report-search i {
    display: inline;
    position: absolute;
    top: 10px;
    right: 25px;
}

.report-search i:hover {
    cursor: pointer;
}

.pagignation-sector {
    margin: auto;
    color: #666666;
}

.custom-item .page-link {
    color: #666666;
}

.custom-item .page-link:focus {
    box-shadow: none;
}

.custom-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* width: 85px; */
    text-align: center;
}

.custom-item:last-child .page-link {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /* width: 85px; */
    text-align: center;
}

.page-item.active .page-link {
    border: 1px solid #8cc63f !important;
    background: #8cc63f !important;
    color: #fff !important;
}

p.usr-vw-title {
    font-size: 15px;
    margin: 8px 20px;
    display: inline;
    /* width: 50%; */
    /* text-align: right; */
}

p.usr-vw {
    /* display: inline; */
    /* width: 50%; */
    font-size: 15px;
    display: inline;
}

.user-desc {
    border-bottom: 1px solid #f2f2f2;
}

th.user-thead {
    color: #3FC688;
    text-transform: capitalize;
    padding-top: 7px !important;
    padding-bottom: 7px;
    text-align: center;
}

p.usr-roles {
    font-size: 15px;
    color: #666666;
}

.back-btn {
    color: #3FC688;
    border-color: #3FC688 !important;

}

.update-buttn {
    background: #3FC688;
    color: #fff;
    border-color: #3FC688 !important;
}

.update-buttn:hover {
    color: #3FC688;
    background: #fff;
    border-color: #3FC688 !important;

}


.back-btn:hover {
    color: #3FC688;
    border-color: #3FC688 !important;
    background: #3FC688;
    color: #fff;

}

.user-section .custom-select {
    height: calc(1.5em + .5rem + 2px);
}

.highcharts-container {
    margin-top: 10px !important;
}

@media(max-width:320px) {
    .purple-bg {

        padding: 10px 15px;
        width: 100%;
        text-align: right;
    }

    .nav-first {
        display: inline-flex !important;
        font-size: 12px !;
        flex-direction: row !important;
    }

    p.bangla-date {
        margin-bottom: 0;
        font-size: 16px;
        padding: 2px 0px;
        float: left;

    }

    .purple-nav-link {
        font-size: 14px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        padding-left: 21px !important;
    }

    h3.bd {
        font-size: 20px;
        color: #3FC688;
        text-align: center;
        padding: 5px 0px;
        margin-bottom: 0;

    }

    p.dept {
        font-size: 12px;
        color: #3FC688 !important;
        text-align: center;
    }

    p.nav-data {
        font-size: 10px;
        color: #3FC688 !important;
        text-align: center;
    }

    .navbar .second-nav {
        margin-top: 40px !important;
    }

    .second-nav li:first-child {
        margin-top: 10px;

    }

    .second-nav .nav-link {
        padding: 0px !important;
        font-size: 14px;
        line-height: 24px;
    }
}

@media(min-width:321px) and (max-width:400px) {
    .purple-bg {

        padding: 10px 15px;

        width: 100%;

        text-align: right;

    }

    .nav-first {
        display: inline-flex !important;
        font-size: 12px !;
        flex-direction: row !important;
    }

    p.bangla-date {
        margin-bottom: 0;
        font-size: 16px;
        padding: 2px 0px;

        float: left;

        margin-right: 7px;
    }

    .purple-nav-link {
        font-size: 14px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        padding-right: 12px !important;
    }

    h3.bd {
        font-size: 15px;
        text-align: center;
        padding: 5px 0px;
        margin-bottom: 0;
    }

    p.dept {
        font-size: 15px;

        text-align: center;
    }

    p.nav-data {
        font-size: 10px;

        text-align: center;
    }

    .second-nav li:first-child {
        margin-top: 10px;

    }

    .second-nav .nav-link {
        padding: 0px !important;
        font-size: 17px;

    }

    .cust-nav-small {
        padding: 0px !important
    }

    .nav-first {
        margin-left: 3.1rem !important;

    }
}

@media(min-width:401px) and (max-width:500px) {
    .purple-bg {
        padding: 10px 15px;
        width: 100%;
        text-align: right;

    }

    .nav-first {
        display: inline-flex !important;
        font-size: 12px !;
        flex-direction: row !important;
    }

    p.bangla-date {
        margin-bottom: 0;
        font-size: 16px;
        padding: 2px 0px;

        float: left;
        margin-right: 7px;
    }

    .purple-nav-link {
        font-size: 14px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-right: 12px !important;
    }

    h3.bd {
        font-size: 15px;
        text-align: center;
        padding: 5px 0px;
        margin-bottom: 0;


    }

    p.dept {
        font-size: 15px;

        text-align: center;
    }

    p.nav-data {
        font-size: 10px;

        text-align: center;
    }

    .second-nav li:first-child {
        margin-top: 10px;

    }

    .second-nav .nav-link {
        padding: 0px !important;
        font-size: 17px;

    }

    .cust-nav-small {
        padding: 0px !important
    }

    .nav-first {
        margin-left: 3.1rem !important;

    }
}

@media(min-width:501px) and (max-width:575px) {
    .purple-bg {

        padding: 10px 15px;
        width: 100%;
        text-align: right;

    }

    .nav-first {
        display: inline-flex !important;
        font-size: 12px !;
        flex-direction: row !important;
    }

    p.bangla-date {
        margin-bottom: 0;
        font-size: 16px;
        padding: 2px 0px;

        float: left;
        margin-right: 7px;
    }

    .purple-nav-link {
        font-size: 14px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-right: 12px !important;
    }

    h3.bd {
        font-size: 16px;
        text-align: center;
        padding: 5px 0px;
        margin-bottom: 0;


    }

    p.dept {
        font-size: 15px;

        text-align: center;
    }

    p.nav-data {
        font-size: 10px;

        text-align: center;
    }

    .second-nav li:first-child {
        margin-top: 10px;

    }

    .second-nav .nav-link {
        padding: 0px !important;
        font-size: 18px;

    }

    .cust-nav-small {
        padding: 0px !important
    }

    .nav-first {
        margin-left: 8.1rem !important;

    }
}

@media(min-width:576px) and (max-width:767px) {
    .purple-bg {
        padding: 10px 15px;
        width: 100%;
        text-align: right;

    }

    .nav-first {
        display: inline-flex !important;
        font-size: 12px !;
        flex-direction: row !important;
    }

    p.bangla-date {
        margin-bottom: 0;
        font-size: 16px;
        padding: 2px 0px;

        float: left;
        margin-right: 7px;
    }

    .purple-nav-link {
        font-size: 14px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-right: 12px !important;
    }

    h3.bd {
        font-size: 16px;
        text-align: center;
        padding: 5px 0px;
        margin-bottom: 0;


    }

    p.dept {
        font-size: 15px;

        text-align: center;
    }

    p.nav-data {
        font-size: 10px;

        text-align: center;
    }

    .second-nav li:first-child {
        margin-top: 10px;

    }

    .second-nav .nav-link {
        padding: 0px !important;
        font-size: 18px;

    }

    .cust-nav-small {
        padding: 0px !important
    }

    .nav-first {
        margin-left: 8.1rem !important;

    }

    .dropdown-item {
        font-size: 14px;

    }

}

@media(min-width:768px) and (max-width:991px) {
    .purple-bg {

        padding: 10px 15px;
        position: absolute;
        top: 41.5px;
        z-index: 1;
        width: 48%;
        right: 0;
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 5% 100%);
        text-align: right;
        /* display: none; */
    }

    .cust-nav-small {
        padding: 0px !important;
    }

    .cust-nav-small ul li {
        border-right: 1px solid #fff;
        padding-right: 5px;
    }

    .cust-nav-small ul li:last-child {
        border-right: none;

    }

    .navbar-light .navbar-toggler {
        margin-top: 15px;
    }

    .nav-first {
        display: inline-flex !important;
        font-size: 12px !;
        flex-direction: row !important;
    }

    p.bangla-date {
        margin-bottom: 0;
        font-size: 16px;
        padding: 2px 0px;
        padding-right: 7px;
        float: left;
        border-right: 1px solid #fff;
        margin-right: 10px;
    }

    .purple-nav-link {
        font-size: 14px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        padding-left: 21px !important;
    }

    h3.bd {


        font-size: 23px;
        color: #3FC688;
        text-align: center;
        padding: 5px 0px;
        margin-bottom: 0;


    }

    p.dept {
        font-size: 19px;
        color: #3FC688 !important;
        text-align: center;
    }

    p.nav-data {
        font-size: 15px;
        color: #3FC688 !important;
        text-align: center;
    }

    .second-nav li:first-child {
        margin-top: 10px;

    }

    .second-nav .nav-link {
        padding: 0px !important;
        font-size: 18px !important;
        line-height: 24px;
    }
}

@media(min-width:992px) {
    .purple-bg {

        padding: 5px 15px;
        position: absolute;
        top: 37.5px;
        z-index: 1;
        width: 44%;
        right: 0;
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 5% 100%);
        text-align: right;
        /* display: none; */
    }

    .cust-nav-small {
        padding: 0px !important;
    }

    .cust-nav-small ul li {
        border-right: 1px solid #fff;
        padding-right: 21px;
    }

    .cust-nav-small ul li:last-child {
        border-right: none;

    }

    .navbar-light .navbar-toggler {
        margin-top: 15px;
    }

    .nav-first {
        display: inline-flex !important;
        font-size: 12px !;
        flex-direction: row !important;
    }

    p.bangla-date {
        margin-bottom: 0;
        font-size: 13px;
        padding: 2px 0px;
        padding-right: 7px;
        float: left;
        border-right: 1px solid #fff;
        margin-right: 10px;
    }

    .purple-nav-link {
        font-size: 14px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 21px !important;
    }

    h3.bd {


        font-size: 23px;
        color: #3FC688;
        text-align: center;
        /* padding: 5px 0px; */
        margin-bottom: 0;


    }

    p.dept {
        font-size: 19px;
        color: #3FC688 !important;
        text-align: center;
    }

    p.nav-data {
        font-size: 15px;
        color: #3FC688 !important;
        text-align: center;
    }

    .second-nav li:first-child {
        /* margin-top: 10px; */

    }

    .second-nav .nav-link {
        /* padding: 0px !important; */
        font-size: 15px !important;
        line-height: 24px;
    }

    .navbar-expand-lg .navbar-nav {
        margin-top: 28px;
    }

    .navbar-expand-lg .navbar-nav .joy {
        margin-left: -15px !important;
    }

    .dropdown-item {
        font-size: 14px;
        color: #3FC688 !important;
    }

    .user-name {
        font-size: 18px;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {

        /* margin-left: -77px; */
        /* text-align: center; */
    }
}


/*BY ASAD*/

.header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.first-column {
    background: white;
    color: white;
    font-size: 2rem;
    border-width: 2px;
    border-color: #000;
    background: #3FC688;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    align-items: center;

}

.second-column {

    border-style: dotted;
    border-width: 2px;
}



/* css part start by mahbub */

.langBn {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.langEn {
    font-size: 0.8rem;
    margin-bottom: 0;
}


.navbar-nav .dropdown-menu {
    right: 0 !important;
}

.attach-form .form-control {
    height: calc(1.5em + 0.5rem + 2px);
}

/* Added By Shariful */
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.9;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 30%;
    z-index: 100;
}

.updateData {
    position: absolute;
    left: 1116px;
    top: 131px;
    border: 2px solid white;
    padding-block-start: 6px;
    padding-block-end: 6px;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
}

.tooltip-inner {
    background-color: #8CC63F !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #fff;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #8CC63F;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #8CC63F;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #8CC63F;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #8CC63F;
}

/* end */
